@import "../global.scss";
#cart {
  background-color: #fff;
  padding: 2rem;
  height: fit-content;

  h2 {
    color: $red;
    font-size: 20px;
  }

  .cart-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  p {
    color: $rose500;
    margin-top: 10px;
    font-size: 14px;
  }
}
